/dist/
/ServidorChatsCasinoRoyal/build/
/ServidorChatsCasinoRoyal/nbproject/private/
/ServidorChatsCasinoRoyal/dist/
/config
/ServidorChatsCasinoRoyal
/.vscode

/src/main/java/com/casinoRoyal/config
/src/main/resources/database