/dist/
/ServidorChatsCasinoRoyal/build/
/ServidorChatsCasinoRoyal/nbproject/private/
/ServidorChatsCasinoRoyal/dist/
/config
.db
/ServidorChatsCasinoRoyal
/.vscode

/main/java/com/casinoRoyal/config
/main/resources/database